* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

.container {
    display: flex;
    flex-flow: column nowrap;
}

.header {
    display: flex;
    flex-flow: column nowrap;

}

.titulo {
    margin-left: 15px;
    display: flex;
}

.encabezado {
    min-height: 35vh;
    display: flex;
    flex-flow: column nowrap;
    flex-flow: row nowrap;
    align-items: baseline;
    background-image: url(../Imagenes/design1_image1.jpg);
    background-size: cover;
    background-position-y: center;
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 3px;
    border: solid black;
    background-color: mediumblue;
    box-shadow: 3px 3px grey;
    border-radius: 0.5rem;
    margin: 0px 3px;
    position: relative;
    margin-top: -8px;
}

.nav .aSeleccionado {
    background-color: green;
    margin-right: 15px;
}

.nav :hover {
    color: red;
    background-color: white;
}

header h1 {
    color: rgb(0, 0, 0);
    font-size: 80px;
    padding: 0.5rem;
    flex-grow: 1;
}

main {
    min-height: 57vh;
    background-image: url(../Imagenes/LogoMightyducks-01TRANSPARENTE.png);
    background-size: contain;
    background-position: center;
    display: flex;
    flex-flow: column nowrap;
}

.subtitulo {
    text-align: center;
    border: solid black 1px;
    font-size: 45px;
    display: flex;
    justify-content: center;
}

h2 {
    align-items: center;
    justify-content: center;
    padding: 4px;
    display: flex;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    flex-wrap: wrap;
}

main figure img {
    width: 200px;
    height: 200px;
}

table {
    background-color: #FFFBEB;
    padding: 3px;
}

table,
th,
td {
    border: solid black 1px;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}

.listasRyP {
    padding: 30px;
    margin: 0 auto;
    display: flex;
}

.home {
    padding: 30px;
    margin: 0 auto;
    display: flex;
    font-size: 35px;
}

.about {
    padding: 30px;
    margin: 0 auto;
    display: flex;
    font-size: 35px;
}

.gameInformation {
    padding: 30px;
    margin: 0 auto;
    display: flex;
    font-size: 35px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.rulesPolicies {
    display: flex;
    flex-direction: column;
    font-size: 35px;
    padding: 30px;
}

li,
dd {
    list-style-position: inside;
    margin-left: 3rem;
}

dl {
    display: flex;
    flex-direction: column;
}

#letras {
    list-style-type: lower-latin;
}

#circle {
    list-style-type: circle;
}

.rulesPolicies p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacGamesInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    min-height: 8vh;
    background-color: rgb(223, 222, 132);
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

footer img {
    height: 100px;
    width: 100px;
}

footer a img {
    height: 70px;
    width: 70px;
}

.aFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}